cluster: "snakemake_mqsub --segregated-log-files --queue aqua --depend \"{dependencies}\""
cluster-status: snakemake_mqstat
jobs: 10000
cluster-cancel: qdel
use-conda: true
conda-frontend: mamba
rerun-incomplete: true # Without this, snakemake will attempt to resume when rerunning a rule, which fails immediately without error
immediate-submit: true
notemp: true
